.logo {
  height: 100px;   /* tamanho da logo */
  width: auto;    /* mantém proporção */
}

.navbar {
  padding: 10px 30px; /* um espacinho mais elegante */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #000;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin: 0 10px; /* separa os links */
  color: #5a0394
}

.navbar-nav .nav-link.active {
  color: #8b00f6;
  font-weight: bold;
}

#carouselExampleIndicators{
    margin: 0 auto;
}

/* Seção Adotar */

.btn{
  background-color: #8b00f6;
  color: white;
    margin-bottom: 10px;
}

.btn:hover{
  background-color: #f4f737;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.w-50{
  background-color: whitesmoke;
  border: 2px solid gainsboro;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 3px rgb(186, 183, 183) ;
}

.form-row{
 width: 600px;
 margin-left: 14px;
}

